<h2>{{comic.name}}</h2>
<div class="row my-1 py-2">
    <!--
    <div class="col">
        <h5 class="justify-content-center">{{comic.title}}</h5>
        <img src="{{comic.img_url}}" title="{{comic.alt}}" />
    </div>
    -->
    <b>{{comic.title}}</b>
    <p>{{comic.perm_link}}</p>
    <p>prev: {{comic.prev_link}} (db_id: {{comic.prev_id}})<br />next: {{comic.next_link}} (db_id: {{comic.next_id}})</p>
    <p>comic db_id: {{comic.id}}</p>
    <img src="{{comic.img_url}}" title="{{comic.alt}}" style="width:780px"/>
</div>
