<div
    class="container-md justify-content-center" 
    style="background-color: rgb(235, 235, 235);">
    <div class="row linkheader">
        <div routerLink="/sarjis" class="col text-center">
            <h2>Sarjis~Kotkis</h2>
        </div>
    </div>
    <router-outlet></router-outlet>
<!--         <button (click)="singleComic(comic)">focus</button>
 -->
 <!--       
    <div *ngFor="let comic of all_comics">
 
        <app-comic [comic]="comic" (focusChanged)="focusChangedHandler($event)"></app-comic>
    </div>

-->
 
<!--        <h2 (click)="onSelect(comic)">{{comic.name}}</h2>
-->    
</div>
