<div
    class="container-md justify-content-center" 
    style="background-color: rgb(235, 235, 235);">
    <div class="row">
        <div class="col text-center">
            <h2>Sarjis~Kotkis</h2>
        </div>
    </div>
    <div *ngFor="let comic of all_comics">
<!--         <button (click)="singleComic(comic)">focus</button>
 -->        <app-comic [comic]="comic" (focusChanged)="focusChangedHandler($event)"></app-comic>
    </div>
<!--     <div class="row">
        <app-comic [comic]="fp"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="dilbert"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="vw"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="xkcd"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="pbf"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="velho"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="fokit"></app-comic>
    </div>
    <div class="row">
        <app-comic [comic]="smbc"></app-comic>
    </div>
 --></div>

